In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pip

In [3]:
Customer_Demo = pd.read_excel('CustomerDemographics.xlsx')
Customer_Behavior_Data =  pd.read_excel('CustomerBehaviorData.xlsx')
Credit_Consumption_Data = pd.read_excel('CreditConsumptionData.xlsx')

In [4]:
# Get metadata using info() method
print("DataFrame info:")
print(Customer_Demo.info())

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            20000 non-null  int64
 1   account_type                  19999 non-null  object
 2   gender                        19999 non-null  object
 3   age                           20000 non-null  int64
 4   Income                        19999 non-null  object
 5   Emp_Tenure_Years              20000 non-null  float64
 6   Tenure_with_Bank              20000 non-null  int64
 7   region_code                   19999 non-null  float64
 8   NetBanking_Flag               20000 non-null  int64
 9   Avg_days_between_transaction  19997 non-null  float64
dtypes: float64(3), int64(4), object(3)
memory usage: 1.5+ MB
None

In [5]:
# Get summary statistics using describe() method
print("DataFrame summary statistics:")
print(Customer_Demo.describe())

DataFrame summary statistics:
                 ID           age  Emp_Tenure_Years  Tenure_with_Bank  \
count  20000.000000  20000.000000      20000.000000      20000.000000
mean    9999.500000     47.672300         15.217250          5.496050
std     5773.647028     30.359771         20.481455          2.870452
min        0.000000     25.000000          0.500000          1.000000
25%     4999.750000     33.000000          5.100000          3.000000
50%     9999.500000     40.000000          9.900000          6.000000
75%    14999.250000     53.000000         18.000000          8.000000
max    19999.000000    223.000000        203.000000         10.000000

        region_code  NetBanking_Flag  Avg_days_between_transaction
count  19999.000000     20000.000000                  19997.000000
mean     598.959348         0.718000                     11.044757
std      220.105230         0.449985                      5.480552
min      123.000000         0.000000                      2.000000
25%      424.000000         0.000000                      6.000000
50%      623.000000         1.000000                     11.000000
75%      799.000000         1.000000                     16.000000
max      974.000000         1.000000                     20.000000

In [6]:
# Get metadata using info() method
print("DataFrame info:")
print(Customer_Behavior_Data.info())

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 39 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     20000 non-null  int64
 1   cc_cons_apr            20000 non-null  float64
 2   dc_cons_apr            20000 non-null  float64
 3   cc_cons_may            19999 non-null  float64
 4   dc_cons_may            20000 non-null  float64
 5   cc_cons_jun            20000 non-null  float64
 6   dc_cons_jun            19999 non-null  float64
 7   cc_count_apr           19999 non-null  float64
 8   cc_count_may           20000 non-null  int64
 9   cc_count_jun           20000 non-null  int64
 10  dc_count_apr           20000 non-null  int64
 11  dc_count_may           20000 non-null  int64
 12  dc_count_jun           20000 non-null  int64
 13  card_lim               20000 non-null  int64
 14  personal_loan_active   20000 non-null  int64
 15  vehicle_loan_active    20000 non-null  int64
 16  personal_loan_closed   19999 non-null  float64
 17  vehicle_loan_closed    20000 non-null  int64
 18  investment_1           20000 non-null  float64
 19  investment_2           20000 non-null  float64
 20  investment_3           19998 non-null  float64
 21  investment_4           20000 non-null  float64
 22  debit_amount_apr       20000 non-null  float64
 23  credit_amount_apr      20000 non-null  float64
 24  debit_count_apr        19999 non-null  float64
 25  credit_count_apr       20000 non-null  int64
 26  max_credit_amount_apr  20000 non-null  float64
 27  debit_amount_may       20000 non-null  float64
 28  credit_amount_may      20000 non-null  float64
 29  credit_count_may       20000 non-null  int64
 30  debit_count_may        20000 non-null  int64
 31  max_credit_amount_may  20000 non-null  float64
 32  debit_amount_jun       20000 non-null  float64
 33  credit_amount_jun      20000 non-null  float64
 34  credit_count_jun       20000 non-null  int64
 35  debit_count_jun        20000 non-null  int64
 36  max_credit_amount_jun  20000 non-null  float64
 37  loan_enq               19998 non-null  object
 38  emi_active             19999 non-null  float64
dtypes: float64(23), int64(15), object(1)
memory usage: 6.0+ MB
None

In [7]:
# Get summary statistics using describe() method
print("DataFrame summary statistics:")
print(Customer_Behavior_Data.describe())

DataFrame summary statistics:
                 ID    cc_cons_apr    dc_cons_apr   cc_cons_may  \
count  20000.000000   20000.000000   20000.000000  1.999900e+04
mean    9999.500000   17856.990922    8130.453414  1.618836e+04
std     5773.647028   25158.878234   14572.188829  2.651068e+04
min        0.000000     253.000000      19.350000  1.570000e+02
25%     4999.750000    4377.000000    1624.650000  3.635910e+03
50%     9999.500000   10214.642500    3964.750000  8.635230e+03
75%    14999.250000   21189.000000    9339.020000  1.865531e+04
max    19999.000000  441031.330000  229255.000000  1.117246e+06

         dc_cons_may    cc_cons_jun    dc_cons_jun  cc_count_apr  \
count   20000.000000   20000.000000   19999.000000  19999.000000
mean     7702.427191   12135.806021    7109.708341     41.611631
std     17892.731800   18790.984789   13313.935609     97.835475
min        22.000000      65.000000      62.000000      1.000000
25%      1634.260000    2999.075000    1361.100000      5.000000
50%      3791.720000    6656.800000    3326.000000     10.000000
75%      8263.590000   14195.727500    7458.820000     44.000000
max    911223.490000  382914.100000  233384.000000    531.000000

       cc_count_may  cc_count_jun  ...  credit_amount_may  credit_count_may  \
count  20000.000000  20000.000000  ...       2.000000e+04       20000.00000
mean      33.569100     41.470200  ...       8.293707e+04          11.91900
std       50.316925     46.825658  ...       1.714761e+05          16.85576
min        1.000000      1.000000  ...       1.061000e+01           0.00000
25%        8.000000     10.000000  ...       2.521075e+04           2.00000
50%       23.000000     35.000000  ...       4.813718e+04           4.00000
75%       43.000000     61.000000  ...       9.447656e+04          11.00000
max      601.000000    653.000000  ...       1.060175e+07          71.00000

       debit_count_may  max_credit_amount_may  debit_amount_jun  \
count     20000.000000           2.000000e+04      2.000000e+04
mean         40.974850           5.820799e+04      7.812280e+04
std          40.561202           2.085914e+05      2.448983e+05
min           0.000000           2.500000e-01      5.230000e+00
25%          11.000000           2.020225e+04      2.576311e+04
50%          23.000000           3.149650e+04      4.572505e+04
75%          69.000000           5.642100e+04      8.529653e+04
max         171.000000           1.000000e+07      2.642915e+07

       credit_amount_jun  credit_count_jun  debit_count_jun  \
count       2.000000e+04      20000.000000     20000.000000
mean        7.881693e+04         19.905450        44.529100
std         1.569872e+05         27.055323        35.080453
min         1.188000e+01          1.000000         0.000000
25%         2.492008e+04          4.000000        12.000000
50%         4.618300e+04          7.000000        37.000000
75%         8.602000e+04         21.000000        73.000000
max         6.611953e+06        117.000000       133.000000

       max_credit_amount_jun    emi_active
count           2.000000e+04  1.999900e+04
mean            5.284985e+04  1.539887e+04
std             1.343175e+05  1.202541e+05
min             6.000000e-02  0.000000e+00
25%             1.896450e+04  1.545940e+03
50%             3.025000e+04  3.934660e+03
75%             5.344900e+04  9.376390e+03
max             5.200000e+06  7.447125e+06

[8 rows x 38 columns]

In [8]:
Credit_Consumption_Data

          ID  cc_cons
0      12554  20014.0
1      17645  10173.0
2       7604  16095.0
3       1590   7707.0
4      16556  96408.0
...      ...      ...
19995  12512      NaN
19996  14224      NaN
19997  18740      NaN
19998  18134      NaN
19999  12413      NaN

[20000 rows x 2 columns]

In [9]:
# Get metadata using info() method
print("DataFrame info:")
print(Credit_Consumption_Data.info())

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       20000 non-null  int64
 1   cc_cons  15000 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 312.6 KB
None

In [10]:
# Get summary statistics using describe() method
print("DataFrame summary statistics:")
print(Credit_Consumption_Data.describe())

DataFrame summary statistics:
                 ID        cc_cons
count  20000.000000   15000.000000
mean    9999.500000   55157.729867
std     5773.647028   97670.972252
min        0.000000       0.000000
25%     4999.750000    6768.000000
50%     9999.500000   13364.000000
75%    14999.250000   20105.750000
max    19999.000000  408382.000000

In [11]:
# Perform the merge
merged_table = pd.merge(Customer_Demo, Customer_Behavior_Data,on='ID')
merged_table = pd.merge(merged_table, Credit_Consumption_Data, on='ID')

In [12]:
merged_table

,ID,account_type,gender,age,Income,Emp_Tenure_Years,Tenure_with_Bank,region_code,NetBanking_Flag,Avg_days_between_transaction,...,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,loan_enq,emi_active,cc_cons
0,19427,current,M,63,MEDIUM,30.1,10,628.0,1,5.0,...,14,20770.0,44884.90,369000.75,40,96,46088.0,Y,2646.72,NaN
1,16150,current,M,36,MEDIUM,14.4,10,656.0,0,12.0,...,63,78627.0,91073.84,243182.32,7,12,17953.0,Y,5469.79,NaN
2,11749,current,F,28,MEDIUM,4.8,10,314.0,1,13.0,...,82,1260.0,96552.00,35467.00,16,42,41121.0,Y,7207.85,NaN
3,11635,current,M,32,MEDIUM,9.6,2,614.0,1,19.0,...,78,23332.0,18250.00,87204.35,2,10,32003.0,Y,591.34,NaN
4,8908,current,M,32,HIGH,12.0,7,750.0,1,18.0,...,171,41672.0,83525.75,83992.00,21,12,9626.0,Y,2621.39,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1270,current,F,66,MEDIUM,32.2,6,354.0,1,7.0,...,8,24438.0,153772.21,31284.00,3,38,42872.0,Y,6334.20,NaN
19996,15992,current,M,53,MEDIUM,19.8,5,809.0,0,14.0,...,11,213000.0,18098.47,93108.00,43,11,36747.0,Y,102216.02,NaN
19997,7081,current,F,66,MEDIUM,18.4,1,466.0,0,10.0,...,171,34327.0,32198.63,46800.00,3,38,18810.0,Y,1930.19,NaN
19998,6821,current,M,32,LOW,6.0,8,619.0,0,17.0,...,82,51929.0,27334.14,20201.00,47,80,11443.0,Y,24499.91,NaN
19999,13730,current,F,118,LOW,78.4,7,882.0,1,10.0,...,8,32431.0,23464.59,38503.00,5,42,47504.0,Y,5311.54,NaN

In [13]:
# Get metadata using info() method
print("DataFrame info:")
merged_table.info()

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 0 to 19999
Data columns (total 49 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            20000 non-null  int64
 1   account_type                  19999 non-null  object
 2   gender                        19999 non-null  object
 3   age                           20000 non-null  int64
 4   Income                        19999 non-null  object
 5   Emp_Tenure_Years              20000 non-null  float64
 6   Tenure_with_Bank              20000 non-null  int64
 7   region_code                   19999 non-null  float64
 8   NetBanking_Flag               20000 non-null  int64
 9   Avg_days_between_transaction  19997 non-null  float64
 10  cc_cons_apr                   20000 non-null  float64
 11  dc_cons_apr                   20000 non-null  float64
 12  cc_cons_may                   19999 non-null  float64
 13  dc_cons_may                   20000 non-null  float64
 14  cc_cons_jun                   20000 non-null  float64
 15  dc_cons_jun                   19999 non-null  float64
 16  cc_count_apr                  19999 non-null  float64
 17  cc_count_may                  20000 non-null  int64
 18  cc_count_jun                  20000 non-null  int64
 19  dc_count_apr                  20000 non-null  int64
 20  dc_count_may                  20000 non-null  int64
 21  dc_count_jun                  20000 non-null  int64
 22  card_lim                      20000 non-null  int64
 23  personal_loan_active          20000 non-null  int64
 24  vehicle_loan_active           20000 non-null  int64
 25  personal_loan_closed          19999 non-null  float64
 26  vehicle_loan_closed           20000 non-null  int64
 27  investment_1                  20000 non-null  float64
 28  investment_2                  20000 non-null  float64
 29  investment_3                  19998 non-null  float64
 30  investment_4                  20000 non-null  float64
 31  debit_amount_apr              20000 non-null  float64
 32  credit_amount_apr             20000 non-null  float64
 33  debit_count_apr               19999 non-null  float64
 34  credit_count_apr              20000 non-null  int64
 35  max_credit_amount_apr         20000 non-null  float64
 36  debit_amount_may              20000 non-null  float64
 37  credit_amount_may             20000 non-null  float64
 38  credit_count_may              20000 non-null  int64
 39  debit_count_may               20000 non-null  int64
 40  max_credit_amount_may         20000 non-null  float64
 41  debit_amount_jun              20000 non-null  float64
 42  credit_amount_jun             20000 non-null  float64
 43  credit_count_jun              20000 non-null  int64
 44  debit_count_jun               20000 non-null  int64
 45  max_credit_amount_jun         20000 non-null  float64
 46  loan_enq                      19998 non-null  object
 47  emi_active                    19999 non-null  float64
 48  cc_cons                       15000 non-null  float64
dtypes: float64(27), int64(18), object(4)
memory usage: 7.6+ MB

In [14]:
# Get summary statistics using describe() method
print("DataFrame summary statistics:")
merged_table.describe()

DataFrame summary statistics:

,ID,age,Emp_Tenure_Years,Tenure_with_Bank,region_code,NetBanking_Flag,Avg_days_between_transaction,cc_cons_apr,dc_cons_apr,cc_cons_may,...,credit_count_may,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,emi_active,cc_cons
count,20000.000000,20000.000000,20000.000000,20000.000000,19999.000000,20000.000000,19997.000000,20000.000000,20000.000000,1.999900e+04,...,20000.00000,20000.000000,2.000000e+04,2.000000e+04,2.000000e+04,20000.000000,20000.000000,2.000000e+04,1.999900e+04,15000.000000
mean,9999.500000,47.672300,15.217250,5.496050,598.959348,0.718000,11.044757,17856.990922,8130.453414,1.618836e+04,...,11.91900,40.974850,5.820799e+04,7.812280e+04,7.881693e+04,19.905450,44.529100,5.284985e+04,1.539887e+04,55157.729867
std,5773.647028,30.359771,20.481455,2.870452,220.105230,0.449985,5.480552,25158.878234,14572.188829,2.651068e+04,...,16.85576,40.561202,2.085914e+05,2.448983e+05,1.569872e+05,27.055323,35.080453,1.343175e+05,1.202541e+05,97670.972252
min,0.000000,25.000000,0.500000,1.000000,123.000000,0.000000,2.000000,253.000000,19.350000,1.570000e+02,...,0.00000,0.000000,2.500000e-01,5.230000e+00,1.188000e+01,1.000000,0.000000,6.000000e-02,0.000000e+00,0.000000
25%,4999.750000,33.000000,5.100000,3.000000,424.000000,0.000000,6.000000,4377.000000,1624.650000,3.635910e+03,...,2.00000,11.000000,2.020225e+04,2.576311e+04,2.492008e+04,4.000000,12.000000,1.896450e+04,1.545940e+03,6768.000000
50%,9999.500000,40.000000,9.900000,6.000000,623.000000,1.000000,11.000000,10214.642500,3964.750000,8.635230e+03,...,4.00000,23.000000,3.149650e+04,4.572505e+04,4.618300e+04,7.000000,37.000000,3.025000e+04,3.934660e+03,13364.000000
75%,14999.250000,53.000000,18.000000,8.000000,799.000000,1.000000,16.000000,21189.000000,9339.020000,1.865531e+04,...,11.00000,69.000000,5.642100e+04,8.529653e+04,8.602000e+04,21.000000,73.000000,5.344900e+04,9.376390e+03,20105.750000
max,19999.000000,223.000000,203.000000,10.000000,974.000000,1.000000,20.000000,441031.330000,229255.000000,1.117246e+06,...,71.00000,171.000000,1.000000e+07,2.642915e+07,6.611953e+06,117.000000,133.000000,5.200000e+06,7.447125e+06,408382.000000

In [15]:
def continuous_var_summary( x ):
    
    # freq and missings
    n_total = x.shape[0]
    n_miss = x.isna().sum()
    perc_miss = n_miss * 100 / n_total
    
    # outliers - iqr
    q1 = x.quantile(0.25)
    q3 = x.quantile(0.75)
    iqr = q3 - q1
    lc_iqr = q1 - 1.5 * iqr
    uc_iqr = q3 + 1.5 * iqr
    
    
    return pd.Series( [ x.dtype, x.nunique(), n_total, x.count(), n_miss, perc_miss,
                       x.sum(), x.mean(), x.std(), x.var(), 
                       lc_iqr, uc_iqr, 
                       x.min(), x.quantile(0.01), x.quantile(0.05), x.quantile(0.10), 
                       x.quantile(0.25), x.quantile(0.5), x.quantile(0.75), 
                       x.quantile(0.90), x.quantile(0.95), x.quantile(0.99), x.max() ], 
                     
                    index = ['dtype', 'cardinality', 'n_tot', 'n', 'nmiss', 'perc_miss',
                             'sum', 'mean', 'std', 'var',
                        'lc_iqr', 'uc_iqr',
                        'min', 'p1', 'p5', 'p10', 'p25', 'p50', 'p75', 'p90', 'p95', 'p99', 'max'])

In [16]:
# An utility function to create dummy variable
def create_dummies(df, colname):
    col_dummies = pd.get_dummies(df[colname], 
                                 prefix = colname, 
                                 drop_first = True)
    df = pd.concat([df, col_dummies], axis = 1)
    df.drop(colname, axis = 1, inplace = True )
    return df

### EDA

In [17]:
#check for null value
merged_table.isnull().any().sum()

14